name: CI Validation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    steps:
    - uses: actions/checkout@v4

    - name: Run E2E Tests
      run: make test
